:root {
  --branding-color: #740202;
  --secondary-color: #4a4747;
  --primary-color: #000;
  --heading-font-family: "Playfair Display", serif;
}

body {
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  color: #fff;
}
p {
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
  font-family: var(--heading-font-family);
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 2;
}
.hero p {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 25px;
  margin-bottom: 60px;
  font-family: var(--heading-font-family);
}

.btn-branding {
  background-color: var(--branding-color);
  color: #fff;
  font: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
}
.project-description {
  padding: 60px;
}
.content-container h3 {
  color: var(--branding-color);
  margin-top: 20px;
}

.content-container h5 {
  color: var(--branding-color);
  margin-top: 20px;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.content h1 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  padding: 50px;
}
.content a {
  text-decoration: none;
  color: #fff;
}

.content-icons {
  padding: 10px;
  font-size: 30px;
}
footer {
  margin: 60px 0;
  background-color: var(--secondary-color);
  border-radius: 10px;
  opacity: 40%;
}

footer .email-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .content-icons a {
  margin: 0 20px;
  color: var(--branding-color);
}
footer .content-icons a:hover {
  color: white;
}

.active {
  color: var(--branding-color) !important;
  font-weight: bold;
}
@media (max-width: 900px) {
  .about-me-description {
    text-align: center;
  }
  .arrow-side {
    display: none;
  }
}
@media (min-width: 900px) {
  .arrow-up-and-down {
    display: none;
  }
}
